* {
    margin: 0 3px 0 0;
    padding: 0;
    font-family: sans-serif;
    background-size: cover;
}

.body {
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url('../img/Doctor.jpg');
    background-size: cover;
}

.loginbox {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url('../img/Doctor.jpg');
    background-size: cover;
    background-position: center;
}


.loginbox3 {
    position: absolute;
    top: 420px;
    left: 400px;
    transform: translate(5%,-50%);
    width: 600px;
    height: 500px;
    padding: 80px 40px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 50px;
}

.p4 {
    color: #009688;
    font-size: 30px;
    position: absolute;
    left: 170px;
    top: 30px;
    font-weight: bold;
}

.txtname {
    width: 55%;
    margin: 20px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    height: 40px;
    color: black;
    font-size: 20px;
    position: absolute;
    top: 120px;
}



.confirm {
    width: 100px;
    padding: 15px 0;
    text-align: center;
    margin: 80px 50px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    color: white;
    background-color: #009688;
    cursor: pointer;
    position: absolute;
    left: 410px;
    top: 340px;
}

    .confirm:hover {
        transition: 0.5s;
        background-color: rgb(0,180,140);
    }




.back {
    transform: translate(0,-10%);
    position: absolute;
    left: 1400px;
    top: 150px;
    width: 60px;
}

.backbtnnotv {
    transform: translate(0,-10%);
    position: absolute;
    left: 1400px;
    top: 150px;
    width: 100px;
    height: 70px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
    transition: .3s ease-in-out;
    background: transparent;
    border: none !important;
    font-size: 0;
}



.re {
    position: absolute;
    top: 460px;
    left: 1180px;
    border: none;
    outline: none;
    height: 30px;
    width: 150px;
    font-size: 16px;
    color: #fff;
    background-color: rgb(0, 180, 255);
    cursor: pointer;
    border-radius: 20px;
    transition: .3s ease-in-out;
}

    .re:hover {
        background-color: rgb(0, 100, 255);
    }

.loginbox2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-37%);
    width: 80%;
    height: 60%;
    padding: 80px 40px;
    box-sizing: border-box;
    border-radius: 50px;
    background: white;
}

.grid {
    color: white;
    text-align: center;
    border: 2px solid #808080;
    left: 15%;
    position: absolute;
}

.gridt {
    width: 1200px;
    margin: 0px 150px;
    color: white;
    text-align: center;
    border: 2px solid #808080;
    left: 9%;
}


.txtemail, .txtpass, .btnsubmit {
    width: 80%;
    margin-bottom: 20px;
}

.txtemail, .txtpass {
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    background-color: transparent;
}

.meeow {
    color: #00b1ff;
    text-transform: uppercase;
}

    .meeow ul li::after {
        content: '';
        height: 3px;
        width: 100px;
        background: #009688;
        left: 0;
        bottom: -10px;
    }

.meeow2 {
    color: #808080;
    text-transform: uppercase;
}

    .meeow2 ul li::after {
        content: '';
        height: 3px;
        width: 100px;
        background: #808080;
        left: 0;
        bottom: -10px;
    }


.hidden_area {
    background-color: transparent;
    color: aliceblue;
    position: absolute;
    display: none;
    width: 170px;
    height: 20px;
    margin-top: 0px;
    margin-left: 20px;
    padding: 5px;
    text-align: center;
}

ul li:hover .hidden_area {
    display: block;
}

.hidden_area2 {
    background-color: transparent;
    color: aliceblue;
    position: absolute;
    display: none;
    width: 150px;
    height: 20px;
    margin-top: 0px;
    margin-left: 0px;
    padding: 5px;
    text-align: center;
}

ul li:hover .hidden_area2 {
    display: block;
}

.navbar {
    width: 80%;
    margin: auto;
    padding: 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    transform: translate(-20%,-15%);
    width: 200px;
}

.avatar {
    width: 250px;
    height: 250px;
    overflow: hidden;
    top: 15%;
    left: 5%;
    position: absolute;
}

.navbar ul li {
    transform: translate(0,-150%);
    list-style: none;
    display: inline-block;
    margin: 0 30px;
    position: relative;
    top: 0px;
    left: 0px;
}

    .navbar ul li a {
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
    }

.normal::after {
    content: '';
    height: 3px;
    width: 0;
    background: #00b1ff;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.normal:hover::after {
    width: 100%;
}

.button1 {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    background: transparent;
    border: 2px solid #009688;
    color: #fff;
    cursor: pointer;
}

    .button1:hover {
        transition: 0.5s;
        background-color: #009688;
    }

.button3 {
    width: 170px;
    height: 40px;
    text-align: center;
    margin: 25px 10px;
    border-radius: 25px;
    font-weight: bold;
    background: transparent;
    border: 2px solid #009688;
    color: #fff;
    cursor: pointer;
}

    .button3:hover {
        transition: 0.5s;
        background-color: #009688;
    }

.button2 {
    width: 100px;
    height: 30px;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    background: transparent;
    border: 2px solid #009688;
    color: #fff;
    cursor: pointer;
    font-family: Arial;
    font-size: 15px;
}

    .button2:hover {
        transition: 0.5s;
        background-color: #0fcfbd;
    }

    .button2:disabled {
        background-color: #808080;
    }

.lblname {
    font-weight: bold;
    color: #fff;
    margin-left: 50px;
}

.lblnamee {
    font-weight: bold;
    color: #fff;
    margin-left: 100px;
}

.txttypee {
    width: 15%;
    margin-left: 20px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    height: 30px;
    color: #fff;
    font-size: 16px;
    background-color: transparent;
}

.txttype {
    width: 12%;
    margin-left: 10px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    height: 30px;
    color: #fff;
    font-size: 16px;
    background-color: transparent;
}

.cal {
    width: 10%;
    margin-left: 20px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    height: 30px;
    color: #fff;
    font-size: 16px;
    background-color: transparent;
}

.card {
    width: 80%;
    height: 70%;
    margin-left: 10%;
    background-color: white;
    border-radius: 10px;
}

.line {
    width: 120px;
    height: 47px;
    border-bottom: 1px solid black;
    position: absolute;
}

.text {
    position: absolute;
    left: 30%;
}

.vl {
    border-left: 6px solid #009688;
    position: absolute;
    left: 30%;
    margin-left: -3px;
    top: 0;
}

.vl2 {
    border-bottom: 1px solid #808080;
    position: absolute;
    left: 30%;
    margin-left: -30px;
    top: 16%;
    width: 100%;
}

.vl3 {
    border-bottom: 1px solid #808080;
    position: absolute;
    left: 30%;
    margin-left: -30px;
    top: 46%;
    width: 80%;
}

.vl4 {
    border-bottom: 1px solid #808080;
    position: absolute;
    left: 30%;
    margin-left: -30px;
    top: 78%;
    width: 200%;
}

.vl5 {
    border-bottom: 1px solid #808080;
    position: absolute;
    left: 30%;
    margin-left: -30px;
    top: 110%;
    width: 200%;
}

.vl6 {
    border-left: 4px solid #808080;
    position: absolute;
    left: 70%;
    margin-left: -3px;
    top: 0;
}

.lblcard1 {
    position: absolute;
    left: 150%;
    font-weight: bold;
    font-size: 22px;
    color: rgba(0,0,0,0.75);
}

.lblcard {
    font-weight: bold;
    font-size: 22px;
    color: rgba(0,0,0,0.75);
    margin-left: 50px;
}

.lblcarde {
    position: absolute;
    left: 135%;
    font-weight: bold;
    font-size: 22px;
    color: rgba(0,0,0,0.75);
    margin-left: 50px;
}

.lblcard2 {
    font-weight: bold;
    font-size: 22px;
    color: #009688;
    position: absolute;
    font-family: sans-serif;
    left: 11%;
    top: 80%;
}


.drop {
    color: black;
    font-size: 14px;
    border-radius: 5px;
    height: 20px;
}

.check {
    color: white;
}
